<h1><img src="assets/img-01.jpg" width="100px" height="auto" /></h1>

<nav>
        <ul class="navbar">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/login">Login</a></li>
        </ul>
</nav>

<div class="belowImage">
        <div class="info">
                <h1>About:</h1>
                <p>A software application used by vending drivers to manage daily operations. It will help organize and
                        optimize the management of various tasks such as sales, inventory, delivery details, and other
                        entities in daily business. Drivers will use the app to record and sort information regarding
                        their job. </p>
        </div>
</div>
<div class="wrapper">
        <router-outlet></router-outlet>
        <div> <!-- change to " *ngIf="loggedIn" // temp rn-->

                <hr>

                <!-- Buttons -->
                <div style="border: 1px solid black; padding: 5px;">
                        <h2>Controls</h2>
                        <div>
                                <table>
                                        <tr>
                                                <td>
                                                        Create Functionalities
                                                        <div>
                                                                <button (click)="newDriver()">New Driver</button>
                                                                <button (click)="showNewShift = !showNewShift">Create new Shift</button><!-- currentShifts -->
                                                        </div>
                                                </td>

                                                <td>
                                                        Table Toggles
                                                        <div>
                                                                <button (click)="showShiftTable = !showShiftTable">Show shift info</button><!-- currentShifts -->
                                                                
                                                                <button (click)="showLocationtableData = !showLocationtableData">Toggle Driver Mileage</button>
                                                                <button (click)="showProductQuantitiesLocationTable = !showProductQuantitiesLocationTable">Display the product quantities at location</button>
                                                                <button (click)="showDrivertableData = !showDrivertableData">Toggle Driver Table</button>
                                                                <button (click)="showlicenseplates = !showlicenseplates">Display driver license plate</button>
                                                        </div>
                                                </td>
                                        </tr>
                                </table>
                        </div>
                </div>

                <!-- CREATE DRIVER, SHIFT SECTION-->

                        <div>
                                
                                <div *ngIf="showNewShift">
                                        DriverId<input type="text" id="newShiftId">
                                        shiftDate<input type="text" id="newShiftshiftDate">
                                        startTime<input type="text" id="newShiftstartTime">
                                        endTime<input type="text" id="newShiftendTime">
                                        <button (click)="submitNewShift()">Submit</button>
                                </div>
                        </div>



                        <div style="padding: 10px;">
                                <div *ngIf="showCreateDriver" style="background-color: lightblue; width: 30%; border: 1px solid black;">
                                        Name<input type="text" id="newDriverName">
                                        Address<input type="text" id="newDriverAddress">
                                        <button (click)="submitNewDriver()">Submit</button>
                                </div>
                        </div>
                        

                <!--  ## DATA TABLES ##  -->
                
                        <div class="tableContainer" *ngIf="showShiftTable">
                                <h2 class="tableLabel" (click)="showShiftTable = !showShiftTable">Shift Info Table</h2>
                                <table class="innerTable">
                                        <tr>
                                                <td>
                                                        <div>DriverId</div>
                                                </td>
                                                <td>
                                                        <div>shiftDate</div>
                                                </td>
                                                <td>
                                                        <div>startTime</div>
                                                </td>
                                                <td>
                                                        <div>endTime</div>
                                                </td>
                                                <!-- <th class="scrollbarhead"></th> -->
                                        </tr>
                                        <tr></tr>

                                        <tr *ngFor="let shift of currentShifts">
                                                <td>{{ shift.driverName }}</td>
                                                <td>{{ shift.shiftDate }}</td>
                                                <td>{{ shift.startTime }}</td>
                                                <td>{{ shift.endTime }}</td>
                                        </tr>
                                </table>         
                        </div>

                <!-- DRIVER INFO TABLE -->
                        <div *ngIf="showDrivertableData" class="tableContainer">
                                <h2 class="tableLabel" (click)="showDrivertableData = !showDrivertableData"> Driver Info Table</h2>
                                        <table class="innerTable">
                                                <tr>
                                                        <td>Name</td>
                                                        <td>ID</td>
                                                        <td>Address</td>
                                                </tr>
                                                <tr></tr>
                                                <tr *ngFor="let driver of drivertableData">
                                                        <td>{{ driver.driverName }}</td>
                                                        <td>{{ driver.driverID }}</td>
                                                        <td>{{ driver.driverAddress }}</td>
                                                </tr>
                                        </table>
                                </div>

                <!-- LOCATION TABLE INFO -->
                <div class="tableContainer"  *ngIf="showLocationtableData">
                        <h2 class="tableLabel" (click)="showLocationtableData = !showLocationtableData" >Driver's with more than 70 km</h2>
                        <table class="innerTable">
                                <tr>
                                        <td>Driver ID</td>
                                        <td>License Plate</td>
                                        <td>KM Left</td>
                                </tr>
                                <tr></tr>
                                <tr *ngFor="let d of driverVehicles">
                                        <td>{{ d.driverID }}</td>
                                        <td>{{ d.licensePlate }}</td>
                                        <td>{{ d.kmLeft }}</td>
                                </tr>
                        </table>
                </div>

                <!-- Display the product quantities at location -->
                <div class="tableContainer" class="tableContainer">
                        <table *ngIf="showProductQuantitiesLocationTable" class="innerTable">
                                <tr>
                                        <th>Location Name</th>
                                        <th>Machine Number</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                </tr>
                                <tr *ngFor="let quant of locationproductquantites">
                                        <th>{{quant.locationName}}</th>
                                        <th>{{quant.MachineNo}}</th>
                                        <th>{{quant.productName}}</th>
                                        <th>{{quant.quantity}}</th>
                                </tr>
                        </table>
                </div>

                <!-- Get license plate of driver -->
                
                <div class="tableContainer" *ngIf="showlicenseplates">
                        <h2 class="tableLabel" (click)="showlicenseplates = !showlicenseplates" >Drivers and their cooresponding license plates</h2>
                        <table  class="innerTable">
                                <tr>
                                        <th>Driver ID</th>
                                        <th>License Plate</th>

                                </tr>
                                <tr *ngFor="let driver of drivervehicle">
                                        <th>{{driver.driverID}}</th>
                                        <th>{{driver.licensePlate}}</th>

                                </tr>
                        </table>
                </div>

                <p class ="bold">Please input the max price you want to show products for:</p>  
                <input id ="price" type="text" placeholder="">
                <button class = "submit" id ="submitname"  (click)= "showProductsLessThanACertainPrice()">Search products</button>
                
                <div>
                        <table style="background-color: rgb(220, 217, 217);border: 1px solid black;">
                                <tr>
                                        <th>Product Name</th>
                                        <th>Product ISBM</th>
                                        <th>Product Price</th>

                                </tr>
                                <tr *ngFor="let max of displayMaxPrice">
                                        <th>{{max.productName}}</th>
                                        <th>{{max.productISBN}}</th>
                                        <th>{{max.productPrice}}</th>

                                </tr>
                        </table>
                </div>
        </div>
</div>