<div class="login-div">
    <div *ngIf="!loggedIn">

        <h1>Log in:</h1>
        <div class = "CourseNumber">   
            <p class ="bold">Username:</p>  
            <input id ="username" type="text" placeholder="Username">
            </div>
        <br/>
        <div class = "CourseNumber">   
            <p class ="bold">Password:</p>  
            <input id ="password" type="password" placeholder="Password">
            </div>
        <br/>
        
        
        <button class = "submit" id ="submitname"  (click)= "login()">Log In</button>
    </div>
    <div *ngIf="loggedIn">

        <h1>Log Out {{this.username}}</h1>

        <button class = "submit" id ="submitname"  (click)= "logout()">Log Out</button>
    </div>
</div>